version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: magenta-postgres
    environment:
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ postgres_db }}"
      POSTGRES_USER: magent
    volumes:
      - {{ base_dir }}/postgres-data:/var/lib/postgresql/data
    ports:
      - "10.0.0.3:5432:5432"
    networks:
      - magenta-net
    restart: unless-stopped

networks:
  magenta-net:
    name: magenta-net
    driver: bridge
